Babel==2.3.4
Jinja2==2.8
MarkupSafe==0.23
orange3
Pygments==2.1.3
Sphinx==1.4.4
alabaster==0.7.8
argparse==1.2.1
docutils==0.12
imagesize==0.7.1
liac-arff==2.1.0
http://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.0.4.zip#md5=3df394d89300db95163f17c843ef49df
numpy==1.11.1
psycopg2==2.6.1
pytz==2016.4
six==1.10.0
snowballstemmer==1.2.1
sphinx-rtd-theme==0.1.9
